* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body,
main {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    font-weight: lighter;
    margin-bottom: 7px;
    font-weight: 300;
}
.group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-area {
    position: relative;
    width: 90%;
    max-width: 490px;
    height: 200px;
    min-width: 320px;
    /* resize: none; */
    padding: 1rem 0.8rem 0 1.2rem;
    margin-bottom: 2rem;
    box-sizing: border-box !important;
    font-size: 14px;
}
.btns {
    font-size: 17px;
    padding: 6px 18px 7px 19px;
    border: none;
    background-color: black;
    border-radius: 80px;
    color: white;
    transition: 0.3s all;
    opacity: 0.9;
    box-shadow: 0px 0px 8px -1px black;
}
.section1,
.section2 {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}
.section1 {
    margin-bottom: 20px;
}
.buttonSection {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    min-width: 320px;
}
.copyPurifiedCss {
    position: absolute;
    right: 44px;
    font-size: 14px;
    padding: 2px 12px 4px 12px;
    border: none;
    background-color: black;
    border-radius: 80px;
    color: white;
    opacity: 0.8;
    top: 50px;
    z-index: 2;
    transition: 0.2s all;
}
.activeCopybtn {
    display: block;
}
.disableCopyButton {
    display: none;
}
.questionMarkBtn {
    font-size: 40px;
    position: fixed;
    top: 0px;
    height: auto;
    background-color: white;
    border: none;
    right: 20px;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s all !important;
}
.copyPurifiedCss:hover,
.questionMarkBtn:hover,
.btns:hover,
.crossBtn :hover {
    transform: scale(1.1);
    cursor: pointer;
}
.aboutUsingThisApp {
    width: 70vw;
    height: auto;
    border: 2px solid black;
    position: absolute;
    z-index: 4;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -4px black;
    padding: 30px;
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 36px;
    box-sizing: border-box;
}
.displaySwitchForUserManual {
    display: none;
}
.enableSwitchForUserManual {
    display: block;
}
.crossBtn {
    position: absolute;
    top: 3px;
    right: 20px;
    font-size: 28px;
    border: none;
    background-color: black;
}
.crossBtn i {
    color: white;
}
ul {
    list-style-position: inside;
}
.aboutUsingThisApp p {
    margin: 32px 0px 20px 0px;
    box-sizing: border-box;
    padding: 5px 0px;
    font-size: 24px;
    border-bottom: 2px solid greenyellow;
}
.redRequired {
    color: red;
    font-weight: 500;
}
.demo {
    top: 65px;
    border: 2px solid black;
    font-size: 13px;
    height: 42px;
    border-radius: 50px;
    width: 42px;
    background-color: black;
    color: white;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}
.fade-in-fwd {
    -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
.fade-out-bck {
    -webkit-animation: fade-out-bck 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: fade-out-bck 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes fade-out-bck {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
}
